go 1.20

use (
	./assertInterfaces
	./bufferChannels
	./conditions
	./goChannels
	./goChannels2
	./goroutine
	./goroutine2
	./hello
	./heritage
	./interfaces
	./interfaces2
	./looping
	./mapSliceStruct
	./methods
)
