go 1.21.3

use (
	./arrays
	./assertInterfaces
	./bufferChannels
	./bufferChannels2
	./conditions
	./constants
	./genericFunctionCustomType
	./genericFunctions
	./genericFunctions2
	./goChannels
	./goChannels2
	./goChannels3
	./goroutine
	./goroutine2
	./hello
	./heritage
	./interfaces
	./interfaces2
	./interfaces3
	./looping
	./mapSliceStruct
	./maps
	./methods
	./panicAndRecover
	./pointers
	./slices
	./variables
	./waitGroups
)
